# Python bytecode files
*.pyc
__pycache__/

# Virtual environment directory
venv/

# Django secret key and other environment files
.env

# Database files (if not using version control for them)
*.sqlite3

# IDE/editor files (e.g., VS Code, PyCharm)
.vscode/
*.iml

# Operating system files (e.g., macOS, Windows)
.DS_Store
Thumbs.db
